input{
	width: calc(100% - 62px);
	height: 64px;
	border-radius: 10px;
	background-color: #f9fbfc;
	border: 2px solid #202329;
	font-size: 24px;
	margin: 0 24px 10px;
	text-align: center;
	font-weight: 400;
	color: #1e1e1f;
	box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
	font-family: 'Monserrat', Arial, Helvetica, sans-serif;
}

input::placeholder{
	color: #a5a5a5;
	font-family: 'Monserrat', Arial, Helvetica, sans-serif;
	font-weight: 400;
}

input:focus{
	outline-color: #61dafa;
}